/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1{
  font-family: 'Roboto', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #3b4563;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
  font-weight: lighter;
}

a { 
  color: #29324B;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

.red{
	color:red;
}

footer{
  text-align: center;
}

#download{
  text-align: center;
  color: #e34799;
}

#logo{
  color: #bd6b0b;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

/* Mis en forme de la baseline */
#baseline{
  background-image: url(https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56537b4700833f615cf36862e3902af6&auto=format&fit=crop&w=750&q=80);
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: #bd6b0b;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: #e34799;
  font-size: 50px;
}

#baseline a {
  color: black;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

 .feature,.defi {
  border: 1px solid #F2F2F2;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
  background: #1f4773;

}

  #apropos{
  margin: 0 auto;
  width: 80%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature p {
  color: white
}

.feature h2 {
  color: #bd6b0b
}

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: #bd6b0b;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: #e34799;
  background-image: url(https://images.unsplash.com/photo-1428954376791-d9ae785dfb2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1d1c3353d1a6b599d22960a10440ed8&auto=format&fit=crop&w=750&q=80);
}

#welcome h4{
 font-size: 50px;
}

#defis{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #bd6b0b;

}

#1{
  text-align: center;
  color: #bd6b0b;

}
